@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* button style */
.custom-btn {
    padding: 6px 12px;
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
    background: #FF4240;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background-color: brown;
}



body {
    background-color: white;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

/* CSS for hiding the search icon when the input field is focused */
/* Initially hide the input field */
/* Show search input on click */
/* Hide input field by default */
label #search-icon {
    display: none;
}

.search-input {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1440px) {
    label #search-icon {
        display: block;
    }

    /* When checkbox is checked, show input field and hide search icon */
    #search-toggle:checked~#search-input {
        display: inline-block;
    }

    #search-toggle:checked+label {
        display: none;
    }

}